# -------
# Modules
# -------

# --------------------------------------------------------------
# Sets sane Zsh built-in environment options.
# History options, recent directory stack, auto cd, etc
# https://github.com/zimfw/environment
zmodule environment

# --------------------------------------------------------------
# Applies correct bindkeys for input events.
# .. expansion, edit line in editor <Ctrl-x><Ctrl-e>,
# jump word <Ctrl-left,right>, rebind keys, etc
# https://github.com/zimfw/input
zmodule input

# --------------------------------------------------------------
# Sets a custom terminal title.
# https://github.com/zimfw/termtitle
zmodule termtitle

# --------------------------------------------------------------
# Additional completion definitions for Zsh.
# https://github.com/zsh-users/zsh-completions
zmodule zsh-users/zsh-completions

# --------------------------------------------------------------
# Enables and configures smart and extensive tab completion.
# completion must be sourced after zsh-users/zsh-completions
# case-insensitive, etc
# https://github.com/zimfw/completion
zmodule completion

# --------------------------------------------------------------
# Type-ahead autosuggestions.
# https://github.com/zsh-users/zsh-autosuggestions
zmodule zsh-users/zsh-autosuggestions

# --------------------------------------------------------------
# Fish-like syntax highlighting for Zsh.
# zsh-users/zsh-syntax-highlighting must be sourced after completion
# https://github.com/zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-syntax-highlighting

# --------------------------------------------------------------
# Fish-like history search (up arrow) for Zsh.
# zsh-users/zsh-history-substring-search must be sourced after zsh-users/zsh-syntax-highlighting
# https://github.com/zsh-users/zsh-history-substring-search
zmodule zsh-users/zsh-history-substring-search

# --------------------------------------------------------------
# Custom prompt
# https://spaceship-prompt.sh
zmodule spaceship-prompt/spaceship-prompt --name spaceship